*{
  cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1028.ani), url(https://cur.cursors-4u.net/cursors/cur-9/cur865.png), url(https://cur.cursors-4u.net/cursors/cur-2/cur116.cur), url(https://cur.cursors-4u.net/cursors/cur-11/cur1027.png), progress;
}
body{
  margin: 0px;
}
a:hover{
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur117.cur), auto !important;
}
.wrapper{
  height: 100vh;
  overflow-x: none;
  overflow-y: auto;
  perspective: 0px;
}
.section{
  margin: 30px;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px;
  z-index: 1;
  /* text-shadow: 0 0 5px #000; */
}
.section2{
  position: relative;
  height: 100vh;
  display: flex;
  align-items: justify;
  justify-content: center;
  color: white;
  z-index: 0;
  overflow: hidden;
}
.text{
  color: black;
  font-size: 30px;
}
.inverse-text{
  color: white;
  font-size: 30px;
}
.chart{
  width: 822px;
  height: 672px;
}
h1{
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000;
  align-items: center;
  justify-content: center;
}
h2{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000;
}
.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: cover !important;
  z-index: -1;
}
.static {
  background: white !important;
}
.bg1::after {
  background-image: url('./assets/media/tinified/code4.png');
}
.bg2::after {
  background-image: url('./assets/media/tinified/coding-laptop-1.jpg');
}
.header {
  margin: 0px;
  position: fixed;
  display: flex;
  flex-direction: row;
  background: black;
  align-items: justify;
  justify-content: space-between;
  height: 60px;
  z-index: 2;
  padding: 10px;
}
.footer {
  /* margin: 2px; */
  border: 5px red;
  position: sticky;
  display: flex;
  flex-direction: row;
  background: black;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  z-index: 2;
  padding: 10px;

}
.card{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: 0.3s;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}
.card:hover{
  background: red;
  color: white;
  transform: scale(1.1);
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur117.cur),auto !important;
}
a:link{
  color: black;
  text-decoration: none;
}

@media (max-width:768px){
  .bg1::after {
    background-image: url('./assets/media/tinified/codem.png');
  }
  .bg2::after {
    background-image: url('./assets/media/tinified/codem2.jpg');
  }
  .card{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: 0.3s;
    color: #fff;
  }
  .card:hover{
    background: red;
    color: white;
    transform: scale(1.1);
  }
  .text{
    color: black;
    font-size: 15px;
  }
  .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    background: black;
    justify-content: space-around;
    height: 30px;
    z-index: 2;
    padding: 10px;
  }
  .footer {
    /* margin: 2px; */
    position: relative;
    border: 5px red;
    position: bottom;
    display: flex;
    flex-direction: row;
    background: black;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    z-index: 2;
    padding: 30px;
  }
  body{
    margin: 0px;
  }
  .chart{
    width: 411px;
    height: 336px;
  }
  .inverse-text{
    color: white;
  font-size: 13px;
  }
}
